.Container {
  display: flex;
  flex-direction: column;
  background: #000;
  color: #fff;
  margin-top: -0.75rem;
  padding: 4rem 1.25rem 2rem;
  position: relative;
}
.Content {
  position: relative;
}
img.Image {
  width: calc(100% + 2.5rem);
  margin: 2rem -1.25rem;
}
