.Container {
  display: flex;
  flex-direction: column;
  background: #000;
  color: #fff;
  margin-top: -0.75rem;
  padding: 5rem 1.25rem 1rem;
  position: relative;
}
.Content {
  position: relative;
}
.Header2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 34px;
  padding-top: 2rem;
}
img.Image {
  width: calc(100% + 2.5rem);
  margin: 2rem -1.25rem;
}
.Container img.Melody {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (min-width: 1000px) {
  .Content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .Content img.Image {
    align-self: center;
    margin: 2rem 0;
    width: 95%;
  }
}