.Container {
  display: flex;
  flex-direction: column;
  background: #000;
  color: #fff;
  margin-top: -0.75rem;
  padding: 5rem 1.25rem 1rem;
  position: relative;
}
.Content {
  position: relative;
}
.Header2 {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 34px;
  padding-top: 2rem;
  text-align: right;
}
img.Image {
  width: calc(100% + 2.5rem);
  margin: 2rem -1.25rem;
}
.Container img.Melody {
  width: 50%;
  height: 30%;
  position: absolute;
  right: 1.25rem;
  top: 0;
}
