.Container {
    display: flex;
    flex-direction: column;
    background: #000;
    color: #fff;
    margin-top: -.75rem;
    padding: 5rem 1.25rem 1rem;
    position: relative;
  }
  .Content {
    position: relative;
  }
  .Header {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 42px;
  }
  .Header2 {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 42px;
    padding-top: 2rem;
  }
  img.Image{
    width: 100%;
  margin: 2rem 0;
  }
 .Container img.Melody {
    width: 50%;
    height: 30%;
    position: absolute;
    right: 1.25rem;
    top: 0;
  }