.Container {
  display: flex;
  flex-direction: column;
  background: #000;
  color: #fff;
  margin-top: -0.75rem;
  padding: 2rem 1.25rem;
  position: relative;
}

.Container img.Melody {
  position: absolute;
  right: 0;
  top: 0.25rem;
}

.Content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Container img.FishBone {
  width: 100%;
  margin: 2rem 0;
}

.Header {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
}

@media screen and (min-width: 1000px) {
  .Container {
    margin-top: 2rem;
    background: transparent;
    max-width: 50%;
  }
  .Container img.FishBone {
    margin: 2rem 0;
    width: 80%;
    align-self: center;
  }

  .Container img.Melody {
    top: 12rem;
  }
}
