.Container {
  display: flex;
  flex-direction: column;
  background: #000;
  color: #fff;
  margin-top: -.75rem;
  padding: 2rem 1.25rem;
  position: relative;
}

.Container img.Melody {
  position: absolute;
  right: 0;
  top: 0.25rem;
}

.Content {
  position: relative;
}

.Container img.FishBone {
  width: 100%;
  margin: 2rem 0;
}

.Header {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
}
