.Menubar {
  width: 48px;
  height: 48px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menubar img {
  width: 24px;
  height: 16px;
}

.Menubar.dark img {
  filter: invert(1);
}

.Menu {
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  background: linear-gradient(
    144.73deg,
    #ff8334 10.78%,
    rgba(217, 85, 0, 0.91) 96.19%
  );
  top: 0px;
  left: 0px;
  z-index: 100;
  position: absolute;
  padding-top: 84px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  cursor: pointer;
}

.Menu > div {
  padding: 0 20px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
