.PreviewContainer {
  display: flex;
  justify-content: center;
}
.PreviewContainer img {
  width: 100%;
  position: relative;
  max-width: 600px;
  aspect-ratio: 0.87;
  max-height: 705px;
}

@media screen and (min-width: 1000px) {
  .PreviewContainer {
    width: 50%;
  }
}
